.Order {
  padding: 1.8rem;

  h3 {
    font-weight: 300;
    font-size: .9rem;
    margin: .5rem 0;
    text-align: start;
    color: gray;
    padding-left: 1rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    width: 9rem;
    margin: 1rem 0;

    label {
      font-size: 1.5rem;
      text-align: start;
      margin: .3rem 0;
    }

    select {
      font-size: 2rem;
      font-weight: 300;
      border: 1px solid lightgray;
    }
  }
}
